<div class="container mt-4">
    <div class="row mt-3">
        <div class="col-md-3">
            <h4>Agregar Bootcamp</h4>
            <form (ngSubmit)="guardar()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Nombre del Bootcamp" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" [(ngModel)]="descripcion" name="descripcion" placeholder="Descripción del Bootcamp" required></textarea>
                </div>
                <div class="form-group">
                    <label for="capacidades">Selecciona Capacidades:</label>
                    <select
                      id="capacidades"
                      class="form-control"
                      [(ngModel)]="capacidadesSeleccionadas"
                      multiple
                      name="capacidades"
                    >
                      <option *ngFor="let capacidad of capacidades" [value]="capacidad.id">
                        {{ capacidad.nombre }}
                      </option>
                    </select>
                  </div>
                <!-- Mensaje de alerta -->
                <div *ngIf="mostrarAlerta" class="alert alert-success mt-3" role="alert">
                    Bootcamp guardado con éxito.
                </div>
                <div *ngIf="conflicto" class="alert alert-warning mt-3" role="alert">
                    {{conflicto}}
                </div>
                <!-- Botón con margen superior -->
                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
              </form>
        </div>
        <div class="col-md-9">
            <h4>Listar Bootcamps</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nombre
                            <!-- Botones para ordenar ascendente o descendente -->
                            <button class="btn btn-link p-0" (click)="ordenar('nombre', 'asc')">
                              <i class="bi bi-arrow-up"></i> <!-- Ícono para orden ascendente -->
                            </button>
                            <button class="btn btn-link p-0" (click)="ordenar('nombre', 'desc')">
                              <i class="bi bi-arrow-down"></i> <!-- Ícono para orden descendente -->
                            </button>
                          </th>
                          <th>Cantidad capacidades
                            <!-- Botones para ordenar ascendente o descendente -->
                            <button class="btn btn-link p-0" (click)="ordenarCantidad('nrocapacidad', 'asc')">
                              <i class="bi bi-arrow-up"></i> <!-- Ícono para orden ascendente -->
                            </button>
                            <button class="btn btn-link p-0" (click)="ordenarCantidad('nrocapacidad', 'desc')">
                              <i class="bi bi-arrow-down"></i> <!-- Ícono para orden descendente -->
                            </button>
                          </th>
                        <th>Capacidades</th>
                        <th>Tecnologias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bootcamp of bootcamps">
                        <td>{{ bootcamp.nombre }}</td>
                        <td>{{ bootcamp.cantidadCapacidad }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let capacidad of bootcamp.listaCapacidades">
                                    {{ capacidad.id }}: {{ capacidad.nombre }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul *ngFor="let capacidad of bootcamp.listaCapacidades">
                                <li *ngFor="let tecnologia of capacidad.listaTecnologias">
                                    {{ tecnologia.id }}: {{ tecnologia.nombre }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Controles de paginación -->
            <div class="pagination-controls">
                <button  (click)="paginaAnterior()" [disabled]="pageNumber === 0">Anterior</button>
                <span>Página {{ pageNumber + 1 }} de {{ totalPages }}</span>
                <button  (click)="paginaSiguiente()" [disabled]="pageNumber === totalPages - 1">Siguiente</button>
            </div>
        </div>
    </div>
    </div>
    
